
_00_ASBank2023/WebContent/WEB-INF/applicationContext.xml
_00_ASBank2023/src/test/resources/TestsDaoHibernate-context.xml
_00_ASBank2023/src/test/resources/TestsBanqueManager-context.xml


/.idea/
*/.idea/**
.idea/*